@import "styles/_variables";

.header {
  width: 100vw;
  background-color: $background-color;
  color: white;
}

.nav {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 375px) {
    justify-content: start;
  }
}

.navitem {
  padding: 10px;
  opacity: 0,7;
}

.navitem:hover {
  text-shadow: 1px 1px 1px black;
  font-weight: 600;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  font-weight: 700;
  text-shadow: 1px 1px 10px black;

  @media (max-width: 375px) {
    display: none;
  }
}