@import "styles/_variables";

.resume {
  padding: 10px;
  animation: fade-in 1s forwards;
  
  &__item {
    margin-bottom: $space-0;

    &__name {
      box-sizing: border-box;
      padding: 0 5px 0 5px;
      box-shadow: 5px 5px 10px rgba(41, 43, 50, 0.343);
      border-radius: 6px;
      background-color: $lighter-black;
      color: white;
      width: 100%;
      animation: fade-in 2s forwards;
    }

    &__content {
      text-align: start;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      border: 1px solid $lighter-black;
      border-radius: 9px;
      background-color: $lightest-black;
      width: 100%;
      animation: fade-in 2s forwards;

      * {
        animation: fade-in 3s forwards;
      }
      
    }
  }
}

@keyframes fade-in {
  0% {opacity: 0; transform: translateY(-5%)}
  100% {opacity: 1; transform: translateY(0)}
}