@function enlight($color, $number) {
  @return mix($color, white, $number);
}

$medium-display-breakpoint: 600px;
$small-display-breakpoint: 400px;
$extra-small-display-breakpoint: 300px;

$black: rgb(40, 101, 89);
$light-black: enlight($black, 70%);
$lighter-black: enlight($black, 65%);
$lightest-black: enlight($black, 10%);

$space-0: 10px;
