@function enlight($color, $number) {
  @return mix($color, white, $number);
}

$small-display-breakpoint: 400px;
$extra-small-display-breakpoint: 293px;

$black: rgb(0, 0, 0);
$light-black: enlight($black, 70%);
$lighter-black: enlight($black, 65%);

$space-0: 10px;
